<main class="page-content event">
    <section class="event" id="event">
        <ul class="read">
            <li>
                <h3 id="event-title">{{eventInfo.name}}</h3>
                <img class="teamInfoPic" src={{eventInfo.image}} alt="Event picture">
                <p>Date: {{reverseDate eventInfo.event_date}}</p>
            <p>Sport: {{eventInfo.sport}}</p>
            <p>Bio: {{eventInfo.bio}}</p>
            <p>Location: {{eventInfo.location}}</p>
            <p>Genders: {{genders eventInfo.genders}}</p>
            <p>Open for walk-in participants: {{yesOrNo eventInfo.open}}</p>
            </li>
        </ul>
    </section>
</main>
