<main class="page-content event">
    <section class="event" id="event">
        <ul class="read">
            <li>
                <h3 id="event-title">{{eventInfo.name}}</h3>
                <img class="teamInfoPic" src={{eventInfo.image}} alt="Event picture">
                <h6>Date & Time: {{reverseDate eventInfo.event_date}} {{eventInfo.start_time}}</h6>
                <h6>Sport: {{eventInfo.sport}}</h6>
                <h6>Bio: {{eventInfo.bio}}</p>
                    <h6>Location: {{eventInfo.location}}</h6>
                    <h6>Genders: {{genders eventInfo.genders}}</h6>
                    <h6>Open for walk-in participants: {{yesOrNo eventInfo.open}}</h6>
            </li>
        </ul>
    </section>
</main>