<main class="page-content event">
    <section class="event" id="event">
        <ul class="read">
            <li>
                <h2 id="event-title">{{eventInfo.name}}</h2>
            </li>
            <li class="read-event">Sport: {{eventInfo.sport}}</li>
            <li class="read-event">Location: {{eventInfo.location}}</li>
            <li class="read-event">Genders: {{genders eventInfo.genders}}</li>
            <li class="read-event">Open for walk-in participants: {{yesOrNo eventInfo.open}}</li>
        </ul>
    </section>
</main>