<main class="page-content events">
    <section class="event" id="event">
      <a href="/search-open/{{table}}/{{sport}}">I'm just looking for teams/events I can join</a>
        <ul class="event-list">
                {{#each sportsData}}
<<<<<<< HEAD
            <li><a class="read-more" href="events/{{id}}">
=======
            <li><a class="read-more" href="/teams/{{id}}">
>>>>>>> staging
                    <h2>{{name}}</h2>
                </a></li>
            {{/each}}
        </ul>
    </section>
</main>
