<main class="page-content events">
    <section class="event" id="event">
        <ul class="event-list">
                {{#each sportsData}}
                {{#if solo}}
                <li><a class="read-more" href="/teams/{{id}}">
                        <h3>{{name}}</h3>
                        <p>Gender: {{genders genders}}</p>
                        <p>Skill level: {{skillz skill}} </p>
                        <p>Age Range: {{ageRange ages}}</p>
                        <p>Looking for team mates: {{yesOrNo solo}}</p>
                    </a></li>
                 {{else}}
                  {{#if open}}
                  <li><a class="read-more" href="/events/{{id}}">
                          <h3>{{name}}</h3>
                          <h3>{{reverseDate event_date}}</h3>
                          <p>Open for walk-in participants: {{yesOrNo open}}</p>
                      </a></li>
                {{/if}}
                {{/if}}
            {{/each}}
        </ul>
    </section>
</main>
