<main class="page-content events">
    <section class="event" id="event">
        <ul class="event-list">
            <a href="/search-open/{{table}}/{{sport}}">I'm just looking for teams/events I can join</a>
            {{#each sportsData}}
            {{#if event_date}}


            <li><a class="read-more" href="/events/{{id}}">
                    <img class="searchTeamPic" src={{image}} alt="">
                    <h3>{{name}}</h3>
                </a>
                <h5>Date & Time: {{reverseDate event_date}} {{start_time}}</h5>
                <h5>We're playing: {{sport}}</p>
                    <h5>Location: {{location}}</h5>
                    <h5>Open for walk-in participants: {{yesOrNo open}}</h5>
            </li>
            {{else}}
            {{#if solo}}
            <li><a class="read-more" href="/teams/{{id}}">
                    <img class="searchTeamPic" src={{image}} alt="">
                    <h3>{{name}}</h3>
                </a>
                <h5>We're playing: {{sport}}</h5>
                <h5>Gender: {{genders genders}}</h5>
                <h5>Age Range: {{ageRange ages}}</h5>
                <h5>Looking for team mates: {{yesOrNo solo}}</h5>
            </li>
            {{/if}}
            {{/if}}
            {{/each}}
        </ul>
    </section>
</main>