<main class="page-content error-pages">
    <section class="404" id="404">
        <ul class="event-list">
                    <li><h3>{{teamData.name}}</h3>
                      <img class="teamInfoPic" src={{teamData.image}} alt="Team picture">
            <p>Location:</p> {{teamData.location}}
            <p>Sport:</p> {{teamData.sport}}
            <p>Bio:</p> {{teamData.bio}}
           <p>How many members:</p> {{teamData.size}}
           <p>Genders:</p> {{genders teamData.genders}}
           <p>Age range:</p> {{ageRange teamData.ages}}
           <p>Skill level:</p> {{skillz teamData.skill}}
           <p>Looking for more members:</p> {{yesOrNo teamData.solo}}
        </ul>
    </section>
</main>
