<main class="page-content teams">
    <section class="team" id="team">
        <button onclick="location.href='/add-team'" class="button-submit" id="add">Register your team</button>
        <ul class="event-list">
            {{#each teamsData}}
            <li><a class="read-more" href="/teams/{{id}}">
                    <h3>{{name}}</h2>
                    <p>Gender: {{genders genders}}</p>
                    <p>Skill level: {{skillz skill}} </p>
                    <p>Age Range: {{ageRange ages}}</p>
                    <p>Looking for team mates: {{yesOrNo solo}}</p>
                </a></li>
            {{/each}}
        </ul>
    </section>
</main>
