<main class="page-content teams">
    <section class="team" id="team">
        <button onclick="location.href='/add-team'" class="button-submit" id="add">Register your
            team</button>
        <h3>Sort by:</h3>
        <form class="sort-form" action="/teams/alpha" method="post">
            <button type='submit' class="sort button-submit">Alphabetically</button>
        </form>
        <ul class="event-list">
            {{#each teamsData}}
            <li><a class="read-more" href="/teams/{{id}}">
                     <img class="searchTeamPic" src={{image}} alt="Team picture">
                    <h3>{{name}}</h2></a>
                    <h5>We're playing: {{sport}}</h5> 
                    <h5>Based in: {{location}}</h5>
                    <h5>Genders: {{genders genders}}</h5>
                    <h5>Skill level: {{skillz skill}}</h5>
                    <h5>Age Range: {{ageRange ages}}</h5>
                    <h5>Looking for team mates: {{yesOrNo solo}}</h5>
                </li>
            {{/each}}
        </ul>
    </section>
</main>