<main class="page-content teams">
    <section class="team" id="team">
        <ul class="event-list">
                    <li><h3>{{teamData.name}}</h3>
            <p>Location: {{teamData.location}}</p>
            <p>Sport: {{teamData.sport}}</p>
           <p>How many members: {{teamData.size}}</p>
           <p>Genders: {{genders teamData.genders}}</p>
           <p>Age range: {{ageRange teamData.ages}}</p>
           <p>Skill level: {{skillz teamData.skill}}</p>
           <p>Looking for more members: {{yesOrNo teamData.solo}}</p>
        </ul>
    </section>
</main>