<main class="page-content teams">
    <section class="team" id="team">
        <ul class="event-list">
                    <li><h2>{{teamData.name}}</h2></li>
                          <li class="read-team">Location: {{teamData.location}}</li>
           <li class="read-team">Size: {{teamData.size}}</li>
           <li class="read-team">Genders: {{genders teamData.genders}}</li>
           <li class="read-team">Age range: {{ageRange teamData.ages}}</li>
           <li class="read-team">Skill level: {{skillz teamData.skill}}</li>
           <li class="read-team">Sport: {{teamData.sport}}</li>
           <li class="read-team">Looking for more members: {{yesOrNo teamData.solo}}</li>
        </ul>
    </section>
</main>