<main class="page-content teams">
    <section class="team" id="team">
        <ul class="event-list">
            {{#each teamsData}}
            <li><a class="read-more" href="/teams/{{id}}">
                    <h2>{{name}}</h2>
                    <h2>Gender: {{genders genders}}</h2>
                    <h2>Skill level: {{skillz skill}} </h2>
                    <h2>Age Range: {{ageRange ages}}</h2>
                    <h2>Looking for team mates: {{yesOrNo solo}}
                </a></li>
            {{/each}}
        </ul>
    </section>
</main>
